.card-holder {
    margin: 2em 0;
    max-width: 50%;
  }
  
  .card {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 800;
    height: 4em;
    width: 64em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card .subtle {
    color: #000;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: -1px;
  }
  
  .card i {
    font-size: 3em;
  }
  .bg-merry {
      color: orangered;
      background: -webkit-linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 40%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: -o-linear-gradient(-70deg, #30fa6d 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: -moz-linear-gradient(-70deg, #1c0ea1 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: linear-gradient(-70deg, #30fa52 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      text-align: left;
  }
  .bg-purple {
      color: rgb(7, 7, 7);
      background: -webkit-linear-gradient(110deg, #0ab1f3 20%, rgba(0, 0, 0, 0) 15%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
      background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
      background: -moz-linear-gradient(110deg, #3b06ce 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
      background: linear-gradient(110deg, #0af3ad 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
      text-align: left;
  }
  
  
  .happat{
      padding-right: 20px;
      display: flex;
      flex-direction: row;
  }
  .wd{
    max-width: 300px;
    max-height: 600px;
    background-color: rgb(57, 56, 58);
    opacity: 0.8;
    padding: 55px;
  }
  .wd h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 250px;
    color:rgb(247, 247, 4);
  }
  .wd h4{
    text-align: center;
    color:darkgray;
    font-weight: 100px;
  }
  .wd h2{
    text-align: center;
    font-weight: normal;
    margin: 30px auto;
    color:rgb(247, 247, 4);
  }
  .opt form , input[type="button"]{
    background-color: black;
  /* padding:10px;*/
    margin:-14px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 16px;
  }
  form, input[type="button"] {
  animation: glowing 3000ms infinite;
  font-weight: 500%;
  }
  @keyframes glowing {
  0% {
  background-color: rgb(70, 219, 33);
  }
  50% {
  background-color: rgb(255, 47, 245);
  }
  70% {
  background-color: rgb(203, 15, 228);
  }
  100% {
  background-color: blue;
  }
  }
  
  body{
      font: 15px/1.5 arial, helvetica, sans-serif; 
      padding: 0;
      margin: 0;
  background-color: #ffffff;
     font-size:20px;
              color: orange;
              background-size: cover;
      }
     
      /*global */
      .container{
         /* width: 80px;*/
          margin:auto;
          overflow: hidden;
          }
          .button_1{
              height: 38px;
              background: #c5c5c5;
              border: 0;
              padding-left: 20px;
              padding-right: 20px;
              color:#c9eb0a;
          }
         
          .dark{
            background: linear-gradient(-70deg, #922b56 15%, #8e09e700 22%);
              color: rgb(27, 27, 23);           
          }
      /*header */    
      header{
          background-color: #ffffff;
          color: hsl(0, 0%, 5%);
          padding-top: 20px;
          padding-bottom: 20px;
          min-height: 70px;
          border-bottom:1px #ffca1c solid; 
      }
      header a{
          color: #030303;
          text-decoration: none;
          text-align: center;
          font-size: 20px;
          min-width: 85px;
          border-radius: 10px;
      }
      header li{
         display: flex;
         flex-direction: row;
         padding: 12px;
      }
      header h5{
        float: right;
        padding: 20%;
      }
      header #branding{
          display: flex;
          flex-direction: row;
          margin: 0%;
      }
      header #branding h1{
          margin: 0;
     }
      
      header nav{
          display: flex;
          flex-direction: row;
          margin: auto;
      }
      header .highlight, header .current a{
          color: #ff6600;
          font-weight: bold;
      }
      header .bulge a{
        color: #08147c;
        font-weight: bold;
    }
    header .bulge1 a{
      color: #9900ff;
      font-weight: bold;
  }
      header a:hover{
          color: #07f843;
          font-weight: bold;
      }
      #showcase{
         background-image: url("pie.jpg")  ;
         background-repeat: no-repeat;
          min-height: 500px;
          text-align: center;
      }
      #showcase h1{
          color: orange;
          margin-top: 70px;
          font-size: 52px;
          margin-bottom: 3px;
      }
      #showcase p{
          font-size: 31px;
         color:rgb(187, 255, 0);
      }
      #new{
          color: #f00202;
          font-size: 14px;
          text-align: center;
      }
  
  
  /* rem em */
      article#main-col{
          padding: 20px;
          min-width: 30%;
          color: rgb(255, 83, 4);
      }
      .droptn { 
          min-width: 30%;
          max-height: 500px;
          padding: 80px;
          text-align: center;
          color: #f85f06; 
     
        }
      .droptn h2{ 
          color: #f88f06;
     
        }
        .droptn h3{ 
          font-size: 14px;
          color: #4706f8;
     
        }
        a{
            text-decoration: none;
            color: goldenrod;
            font-size:9px;
        }
       footer{
           color: chartreuse;
  
           text-align: center;
           background-color: rgb(29, 29, 31);
           min-height: 70%;
          text-transform: capitalize;
          text-decoration-style: double;
       }
       footer iframe{
          padding:30px ;
          min-width:40%;
          height:250px;
       }
       footer h2{
         text-transform: capitalize;
           color: gold;
           padding: 1%;
           text-align: center; 
       }        
        #Checkout>h1 {
          margin: 0;
          padding: 1%;
          text-align: center;
          background: #EEF2F4;
          color: #fc4d08;
          font-size: 24px;
          font-weight: 300;
          border-bottom: 1px solid #DEDEDE;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        
        #Checkout>form {
          padding: 1%;
          text-align: center;
          margin: 0 25px 25px;
        }
        
        label {
          color: #000000;
          margin-bottom: 2px;
        }
        
        .input-container {
          position: relative;
        }
        
        .input-container input {
          padding-right: 1%;
        }   
        #margin{
          color: #07f843;

        } 
body {
    margin: auto;
    font-family: sans-serif;
  }
  header{
                background-color: #ffffff;
                color: hsl(0, 0%, 5%);
                padding-top: 20px;
                padding-bottom: 20px;
                min-height: 70px;
                border-bottom:1px #ffca1c solid; 
            }
            header a{
                color: #030303;
                text-decoration: none;
                text-align: center;
                font-size: 20px;
                min-width: 85px;
                border-radius: 10px;
            }
            header li{
               display: flex;
               flex-direction: row;
               padding: 12px;
            }
            header h5{
              float: right;
              padding: 20%;
            }
            header #branding{
                display: flex;
                flex-direction: row;
                margin: 0%;
            }
            header #branding h1{
                margin: 0;
           }
            
            header nav{
                display: flex;
                flex-direction: row;
                margin: auto;
            }
            header .highlight, header .current a{
                color: #ff6600;
                font-weight: bold;
            }
            header .bulge a{
              color: #08147c;
              font-weight: bold;
          }
          header .bulge1 a{
            color: #9900ff;
            font-weight: bold;
        }
            header a:hover{
                color: #07f843;
                font-weight: bold;
            }
  #sidebar.fixed {
    position: fixed;
    top: 0;
  }
  #sidebarWrap {
    height: auto;
    width: 400px;
    position: relative;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 10px;
  }
  #part1{
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
  }
  .happat{
            width: 400px;
            height: auto;
            position: absolute;
            padding-right: 20px;
            display: flex;
            flex-direction: row;
        }
        .wd{
          max-width: 300px;
          max-height: 600px;
          background-color: black;
          opacity: 0.8;
          padding: 55px;
        }
        .wd h1{
          text-align: center;
          text-transform: uppercase;
          font-weight: 250px;
          color:rgb(247, 247, 4);
        }
        .wd h4{
          text-align: center;
          color:darkgray;
          font-weight: 100px;
        }
        .wd h2{
          text-align: center;
          font-weight: normal;
          margin: 30px auto;
          color:rgb(247, 247, 4);
        }
  #content {
      width: 600px;
    display: flex;
    flex-direction: column;
  }
  footer{
                 color: chartreuse;
        
                 text-align: center;
                 background-color: rgb(29, 29, 31);
                 min-height: 70%;
                text-transform: capitalize;
                text-decoration-style: double;
             }
             footer iframe{
                padding:30px ;
                min-width:40%;
                height:250px;
             }
             footer h2{
               text-transform: capitalize;
                 color: gold;
                 padding: 1%;
                 text-align: center;   
             }
  #footer {
    clear: both;
    margin: 10px 0;
  }